<?xml version="1.0" encoding="UTF-8" ?>
    <widget id="com.recepuncu.arackabul" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Araç Kabul</name>

    <description>
        Ücretsiz sahip olacağınız bir hesapla tamirhanenizdeki tüm araçlar kayıt altında.
    </description>

    <author href="http://www.recepuncu.com" email="recepuncu@gmail.com">
        Recep Uncu
    </author>
	
	<platform name="android">
		<icon src="res/android/playstore-icon.png" />
		<icon src="res/android/drawable-hdpi/icon.png" density="hdpi" />		
		<icon src="res/android/drawable-mdpi/icon.png" density="mdpi" />
		<icon src="res/android/drawable-xhdpi/icon.png" density="xhdpi" />
		<icon src="res/android/drawable-xxhdpi/icon.png" density="xxhdpi" />
		<icon src="res/android/drawable-xxxhdpi/icon.png" density="xxxhdpi" />		
	</platform>	
	
	<plugin name="cordova-plugin-camera" spec="^4.0.3" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />	
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
	    
	<preference name="StatusBarBackgroundColor" value="#2196F3" />
	
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />	
	
</widget>
