<ion-view title="Araç Kabul" id="page1">
    <ion-content padding="true" class="has-header">
        <h5 id="araKabul-heading3" style="color:#000000;">Araç Hesabını Oluşturun</h5>
        <div class="list card" id="araKabul-card21">
            <form id="araKabul-form1" class="list">
                <label class="item item-input" id="araKabul-input1" name="txtAracPlakaNo">
                    <input type="text" placeholder="Plaka numarasını buraya girin.">
                </label>
                <label class="item item-input" id="araKabul-input2" name="txtAracKilometre">
                    <input type="text" placeholder="Araç kilometresini buraya girin.">
                </label>
                <label class="item item-input" id="araKabul-input5" name="txtAracSahibiAdiSoyadi">
                    <input type="text" placeholder="Araç sahibi adı soyadını buraya girin.">
                </label>
            </form>
            <div class=" item item-image">
                <img src="img/EJcmgjxtRvO4x4m7BqmA_1472816944_camera.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div id="araKabul-button-bar3" class="button-bar">
            <button id="araKabul-button5" class="button button-balanced  button-block">Kaydet</button>
            <button id="araKabul-button6" class="button button-calm  button-block">Vazgeç</button>
        </div>
    </ion-content>
</ion-view>