<ion-view title="İşlem Detayları" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="LemDetaylar-form3" class="list">
            <h5 id="LemDetaylar-heading2" style="color:#000000;">Araçlarda Ara</h5>
            <label class="item item-input" name="txtAracPlakaNoBul">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Plaka numarasını buraya girin.">
            </label>
            <ion-item class="item-thumbnail-left item-icon-right" id="LemDetaylar-list-item4">
                <img src="img/sn8wwPpSQAWwWnVUfKSW_1472816944_camera.png">
                <h2>35GA9393</h2>
                <p style="white-space:normal;">KM: 182500</p>
                <i class="icon ion-android-alarm-clock"></i>
            </ion-item>
        </form>
        <form id="LemDetaylar-form4" class="list">
            <h5 id="LemDetaylar-heading1" style="color:#000000;">İşlem Seçin</h5>
            <label class="item item-input" id="LemDetaylar-input12" name="txtAciklama">
                <span class="input-label">Açıklama</span>
                <input type="text" placeholder="Açıklamayı burayı girin.">
            </label>
            <label class="item item-input" id="LemDetaylar-input11" name="txtTutar">
                <span class="input-label">Tutar</span>
                <input type="text" placeholder="0,00 ₺">
            </label>
            <button id="LemDetaylar-button13" class="button button-positive  button-block icon ion-android-add-circle">Listeye Ekle</button>
        </form>
        <h5 id="LemDetaylar-heading6" style="color:#000000;">Yapılacak İşler</h5>
        <ion-list id="LemDetaylar-list4">
            <ion-item class="item-icon-left" id="LemDetaylar-list-item8">
                <i class="icon ion-android-checkbox"></i>Amortisör Değişecek
                <span class="item-note">160 ₺</span>
            </ion-item>
            <ion-item class="item-icon-left" id="LemDetaylar-list-item10">
                <i class="icon ion-android-checkbox-outline-blank"></i>Yağ Değişimi
                <span class="item-note">465 ₺</span>
            </ion-item>
        </ion-list>
        <div id="LemDetaylar-button-bar4" class="button-bar">
            <button id="LemDetaylar-button8" class="button button-balanced  button-block">Kaydet</button>
            <button id="LemDetaylar-button10" class="button button-calm  button-block">Vazgeç</button>
        </div>
        <button id="LemDetaylar-button9" class="button button-assertive  button-block">Sil</button>
    </ion-content>
</ion-view>