<ion-view title="Oturum Aç" id="page3">
    <ion-content padding="true" class="has-header">
        <div id="oturumA-markdown1" style="color:#000000;">
            <p>Ücretsiz sahip olacağınız bir hesapla tamirhanenizdeki tüm araçlar kayıt altında.</p>

            <p>Daha önce hesap açmışsanız
                <strong>Bağlan</strong>seçeneği ile devam edebilirsiniz.</p>
        </div>
        <form id="oturumA-form5" class="list">
            <ion-list id="oturumA-list2">
                <label class="item item-input" id="oturumA-input6" name="txtAd">
                    <span class="input-label">Ad</span>
                    <input ng-model="kayit.adi" type="text" placeholder="Ad">
                </label>
                <label class="item item-input" id="oturumA-input9" name="txtSoyadi">
                    <span class="input-label">Soyadı</span>
                    <input ng-model="kayit.soyadi" type="text" placeholder="Soyadı">
                </label>
                <label class="item item-input" id="oturumA-input7" name="txtKullaniciAdi">
                    <span class="input-label">Kullanıcı adı</span>
                    <input ng-model="kayit.kullanici_adi" type="text" placeholder="Kullanıcı adı">
                </label>
                <label class="item item-input" id="oturumA-input8" name="txtSifre">
                    <span class="input-label">Şifre</span>
                    <input ng-model="kayit.sifre" type="password" placeholder="Şifre">
                </label>
                <label class="item item-input" id="oturumA-input10" name="txtSifre">
                    <span class="input-label"></span>
                    <input ng-model="kayit.sifreTekrar" type="password" placeholder="Şifre tekrar">
                </label>
            </ion-list>
            <button ng-click="kayitOl(kayit)" id="oturumA-button11" class="button button-positive  button-block">Kayıt Ol</button>
        </form>
        <h5 id="oturumA-heading5" style="color:#000000;text-align:center;">- veya -</h5>
        <form id="oturumA-form6" class="list">
            <ion-list id="oturumA-list3">
                <label class="item item-input" id="oturumA-input13" name="txtKullaniciAdi">
                    <span class="input-label">Kullanıcı adı</span>
                    <input type="text" placeholder="Kullanıcı adı">
                </label>
                <label class="item item-input" id="oturumA-input14" name="txtSifre">
                    <span class="input-label">Şifre</span>
                    <input type="password" placeholder="Şifre">
                </label>
            </ion-list>
            <ion-toggle toggle-class="toggle-positive" id="oturumA-toggle1" name="btnOtomatikBaglan">Bu cihazda otomatik bağlan</ion-toggle>
            <a ui-sref="Lemler.araKabul" id="oturumA-button12" class="button button-balanced  button-block">Bağlan</a>
        </form>
    </ion-content>
</ion-view>